/* GOOLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/* GENERAL STYLES */

.fas {
  font-size: 0.9em !important;
}

.fa-sun {
  font-size: 3.5em !important;
  color: #ffd32a;
}

/* GENERAL STYLES */


#agenda.box{
  min-width: 1330px;
  vertical-align: middle;
  margin: 2.7% auto;
	-webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar { 
  display: none; 
}

/* CONTENT STYLES */

.side-content{
  padding: 60px 35px 0px 35px;
  min-height: 655px;
  background-color: #5034c0;
  min-height: 755px;
}

.main-content{
  padding: 57px 37px 0px 37px;
  background-color: #f2f4f7;
  min-height: 755px;
}

/* NAVIATION STYLES */

.navigation{
  background-color: #3C2790;
  padding: 50px 70px 50px 70px;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 1.8em;
}

.navbar-brand:hover{
  color: #c4bbed;
}

.promo{
  color: #c6c6c6;
  font-weight: 400;
  font-size: 1.3em;
  margin: 20px 0px;
}

.agenda li.nav-item{
  color: #fff;
  margin: 5px 0px;
  list-style: none;
  text-transform: capitalize;
}

.lead-txt{
  font-size: 2.4em;
  line-height: 1.2em;
  margin-left: 10px;
}


.fh-form{
  margin: 45px 0px;
}

.help-left{
  margin-left: -14px;
}

div.form-check{
  margin-bottom: 60px;
}

a.underline{
  text-decoration: underline;
  color: #D159BD;
  font-weight: 600;
 }

 input#fh-email,  input#fh-pwd,  input#fh-pwd-again{
 padding: 10px 10px;
 }

 .form-control:focus {
  border-color: #C056BB;
  box-shadow: inset 0 1px 1px rgba(192, 86, 187, 0.075), 0 0 8px rgba(192, 86, 187, 0.6);
}


 .sign-btn{
  font-size: 1em;
  border: 2px solid #C056BB;
  border-radius: 25px;
  padding: 8px 20px;
  background: transparent;
  color: #C056BB;
  margin-top: -10px;
 }

 .sign-btn:hover, .sign-btn:focus, .sign-btn:active, .btn-primary:active:focus {
   background: #C056BB !important;
   color: #fff;
   border: 2px solid #fff !important;
   outline: none !important;

 }

 .back-btn{
  font-size: 1em;
  border: 2px solid #C056BB;
  border-radius: 25px;
  padding: 8px 20px;
  background: transparent;
  color: #C056BB;
  margin-top: -10px;
 }

 .back-btn:hover, .back-btn:focus, .back-btn:active, .btn-primary:active:focus {
   background: #C056BB !important;
   color: #fff;
   border: 2px solid #fff !important;
   outline: none !important;

 }

 .next-btn{
  font-size: 1em;
  background: #C056BB !important;
  padding: 8px 20px;
  color: #fff;
  border: 2px solid #fff !important;
  outline: none !important;
  margin-top: -12px;
  border-radius: 25px;
 }

 .next-btn:hover, .next-btn:focus, .next-btn:active, .next-btn:active:focus, .btn-primary:active:focus{
   background-color: transparent !important;
   color: rgb(243, 99, 236) !important;
   border: 2px solid #C056BB !important;
   outline: none !important;
 }

 .btn:focus,.btn:active:focus,.btn.active:focus,
 .btn.focus,.btn:active.focus,.btn.active.focus {
     outline: none !important;
     box-shadow:none !important;
 }

.margin-help{
  margin-top: 35px;
} 

.link-bg{
  color: #fff;
  font-size: 1.1em;
}

.link-bg:hover{
  color: #c4bbed;
}

#agenda .circle{
  list-style: none;
  padding-left: 40px;
  background-repeat: no-repeat;
  margin: 0px;
}

.active-circle{
  background: url("/img/circle.png") left center no-repeat;
}

.inactive-circle{
  background: url("/img/inactive-circle.png") left center no-repeat;
}


.box-experience{
  padding: 35px 5px;
  border: 1px solid #dedede;
}

.gen-text{
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 30px;
}

.border-text{
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  color: #fff;
  font-size: 0.9em;
  padding: 15px 0px 20px 0px;
  margin: 15px 0px;
}

.date{
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  margin: 30px 0px 30px 0px;
}

.bold{
  font-weight: 600;
}

span.fly{
  background-image: url('/img/fly-white.png');
  width: 50px;
  height: 22px;
  display: inline-flex;
  margin-left: 10px;
}

h5.agenda{
  font-size: 1.1em;

  margin: 20px 0 10px 0;
  font-weight: 600;
}

ul.agenda-options{
  list-style: none;
  padding: 0;
}

li.list-option{
  color: #fff;
  font-weight: 300;
  font-size: 0.9em;
  margin: 10px 0px;
}

.cross{
  border-top: 1px dashed #e4e4e4;
  margin: 30px 0px;
}


h5.ads{
  font-size: 0.9em;
  margin: 8px 0px;
  font-weight: 600;
}

p.ads-text{
  font-size: 0.8em;
  color: #fff;
  font-weight: 300;
  line-height: 1.7em;
}

.con-text{
  font-size: 1.7em;
  font-weight: 300;
}

#weather-div{
  padding: 20px 0px;
  border-top: 1px dashed #b5b5b5;
  border-bottom: 1px dashed #b5b5b5;
  margin: 20px 0px;
}

h4.weather{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5em;
}

.fa-sun{
 font-size: 3.5em;
 color: #ffd32a;
}

#store-info{
  margin-top: 10px;
}

h5.store-name{
  font-size: 1.1em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 2px 0;
}

h6.store-sub-name{
  font-size: 0.8em;
  font-weight: 300;
  color: #727272;
  padding: 0;
  margin: 0;
}

.add-top{
  margin-top: 15px !important;
}

address {
  font-size: 0.8em;
  font-weight: 300;
  color: #727272;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

p.phone, p.website{
  font-size: 0.8em;
  font-weight: 300;
  color: #727272;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.map{
  margin-top: 40px;
}

a.link-box{
  border: 1px solid #00000a;
  padding: 7px 0px;
  margin: 10px 0px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 0.9em;
  border-color: #9045ac;
}

a.link-box:hover{
  margin: 10px 0px;
}

#suggestion-rating{
  border-top: 1px dashed #b5b5b5;
  margin-top: 40px;
  padding: 25px 0px 5px 0px;
}


h4.hero-rate{
  font-size: 1em;
  color: #727272;
  font-weight: 300;
}

h3.hero-suggest{
  font-size: 1.4em;
}
h4.hero-rating{
  font-size: 1em;
  color: #727272;
  font-weight: 300;
}

.pink{
  color: #db5ec6;
}

/* RESPONSIVE MEDIA QUERIES */

 @media only screen and (max-width: 1366px){
  body{
    font: 1em "Poppins", sans-serif;
    background: url('/img/bg-background.jpg');
    width: 100%;
    height: auto;
    color: #00000a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: scroll;
  }
 }

 @media only screen and (max-width: 1024px){
  body{
    background-image: linear-gradient(to top, #d159bd, #c154b9, #b14eb5, #a14ab1, #9045ac);
  }
 }

 @media only screen and (max-width: 800px){
  .navigation, .content{
    width: 100%;
    display: block;
    padding: 50px 70px;
  }
}

 @media only screen and (max-width: 768px){
   .navigation, .content{
     width: 100%;
     display: block;
     padding: 50px 70px;
   }
   .next-btn{
    margin-top: 0px;
   }
 }

 @media only screen and (max-width: 414px){
  .navigation, .content{
    width: 100%;
    display: block;
    padding: 50px 20px;
  }
 .text-right{
    display: block !important;
    float: none !important;
    width: 100%;
  }

  button.btn.btn-primary.sign-btn{
    display: block !important;
    float: none !important;
    width: 100%;
    margin-top: 15px;
  }

  .next-btn{
    margin-top: -75px;
   }
}

